PORT=8000

DATABASE_URL="postgresql://root:password@localhost:5432/smart_dine"

#Cloudflare API token for managing Object Storage
CLOUDFLARE_ACCOUNT_ID="your_cloudflare_account_id_here"
CLOUDFLARE_API_TOKEN="your_cloudflare_api_token_here"
CLOUDFLARE_R2_BUCKET="your-r2-bucket-name"
CLOUDFLARE_PUBLIC_BASE_URL="https://cdn.your-domain.com"
CLOUDFLARE_S3_API_URL="https://<accountid>.r2.cloudflarestorage.com/<bucket-name>"

BETTER_AUTH_SECRET="your_better_auth_secret_here"

#These values should be set to the URL of your frontend application
BETTER_AUTH_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3000"
CORS_DOMAIN="localhost" # for custom domain, add .yourdomain.com

#Google OAuth credentials
GOOGLE_CLIENT_ID="your_google_client_id_here"
GOOGLE_CLIENT_SECRET="your_google_client_secret_here"

#GitHub OAuth credentials
GITHUB_CLIENT_ID="your_github_client_id_here"
GITHUB_CLIENT_SECRET="your_github_client_secret_here"